<div class="container my-5">
  <div class="row">
    <div class="col">
      <%= link_to "Return to see all the assigned projects", projects_path, class: "btn btn-secondary mb-3" %> 
      <% if current_user.role == "qa" %>
        <%= link_to "Add New Bug to this project", new_buge_path(project_id: @project.id), class: "btn btn-primary mb-3" %>

        <% @buge.each do |buge| %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Title: <%= buge.title %></h5>
              <%= button_to "Delete this Bug", buge_path(buge), method: :delete,
                                                                    data: { confirm: "Are you sure you want to delete?" },
                                                                    class: "btn btn-sm btn-danger mb-3" %>
              <%= link_to "Edit this bug", edit_buge_path(buge, project_id: @project.id), class: "btn btn-sm btn-warning mb-3" %> 

              <p class="card-text">Description: <%= buge.description %></p>
              <p class="card-text">BugType: <%= buge.type_bug %></p>
              <p class="card-text">Deadline: <%= buge.deadline %></p>
              <p class="card-text">Status: <%= buge.status %></p>
              <p>Bug Project Id: <%= buge.project.id %></p>
              <img src="<%= buge.image %>" class="img-fluid mb-3" style="max-height: 400px; object-fit: contain;"/>

            </div>
          </div>
        <% end %>
      <% elsif current_user.role == "developer" %>
        <% @buge.each do |buge| %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= buge.title %></h5>
              <p class="card-text">Type: <%= buge.type_bug %></p>
              <p class="card-text">Status: <%= buge.status %></p>

              <%= link_to "Change Status", edit_buge_path(buge, project_id: @project.id), class: "btn btn-secondary mb-3"  %>

              <p>Created by <%= buge.creator.email %> </p> 
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
