<% if @buge.errors.any? %>
  <div class="alert alert-danger">
  <h2>The following errors prevented the Project from being saved</h2>
  <ul>
    <% @buge.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
    </div>
<% end %>

<div class="container">
  <h1 style="margin: 2rem auto;">New the buge</h1>
  <div class="row">
    <div class="col-md-12">
      <%= form_for(@buge, html: { class: "form-horizontal", role: "form" }) do |f| %>
        <div class="form-group">
          <%= f.label :title, class: "control-label col-md-2" %>
          <div class="col-md-8">
            <%= f.text_field :title, class: "form-control", placeholder: "Name of buge", autofocus: true %>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag "user_id", "Assign Developer", class: "control-label col-md-2" %>
          <div class="col-md-8">
            <%= collection_select :buge, :developer_id, @users, :id, :email, { include_blank: true }, { class: "form-control" } %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :deadline, class: "control-label col-md-2" %>
          <div class="col-md-8">
            <%= f.date_field :deadline, class: "form-control", placeholder: "Enter deadline" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :image, class: "control-label col-md-2" %>
          <div class="col-md-8">
            <%= f.file_field :image, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :type_bug, class: "control-label col-md-2" %>
          <div class="col-md-8">
            <%= f.select :type_bug, options_for_select([["bug", "bug"], ["feature", "feature"]], selected: @buge.type_bug), {}, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :description, class: "control-label col-md-2" %>
          <div class="col-md-8">
            <%= f.text_field :description, class: "form-control", placeholder: "Enter type of buge" %>
          </div>
        </div>

        <%= f.hidden_field :project_id, value: @project.id %>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <%= f.submit "Save", class: "btn btn-primary btn-lg" %>
          </div>
        </div>
      <% end %>

      <div class="col-md-4 col-md-offset-4">
        <%= link_to "Cancel request and return to buge listing", buges_path(project_id: @project.id), class: "btn btn-secondary" %>

      </div>
    </div>  
  </div>
</div>
