<div class="container mt-5">
  <div class="card">
    <%= link_to "Return to see all the assigned projects", projects_path, class: "btn btn-primary" %> 
    <div class="card-header">
      <h5 class="card-title">Title: <%= @buge.title %></h5>
    </div>
    <div class="card-body">
      <p class="card-text">Description: <%= @buge.description %></p>
      <p class="card-text">Bug Type: <%= @buge.type_bug %></p>
      <p class="card-text">Deadline: <%= @buge.deadline %></p>
      <p class="card-text">Status: <%= @buge.status %></p>
      <p>Project ID: <%= @buge.project.id %></p>
      <% if @buge.image.present? %>
        <img src="<%= @buge.image %>" class="img-fluid rounded mb-3">
      <% end %>
    </div>
  </div>
</div>
