<div class="container my-5">
  <div class="row">
    <div class="col">
      <%= link_to "Return to see all the assigned projects", projects_path, class: "btn btn-secondary mb-3" %> 
      <% if current_user.role == "qa" %>
        <%= link_to "Add New report to this project", new_report_path(project_id: @project.id), class: "btn btn-primary mb-3" %>

        <% if !@reports.empty? %>
          <% @reports.each do |report| %>
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">Title: <%= report.title %></h5>
                <%= button_to "Delete this report", report_path(report), method: :delete,
                                                                        data: { confirm: "Are you sure you want to delete?" },
                                                                        class: "btn btn-sm btn-danger mb-3" %>
                <%= link_to "Edit this report", edit_report_path(report, project_id: @project.id), class: "btn btn-sm btn-warning mb-3" %> 

                <p class="card-text">Description: <%= report.description %></p>
                <p class="card-text">reportType: <%= report.type_Report %></p>
                <p class="card-text">Deadline: <%= report.deadline %></p>
                <p class="card-text">Status: <%= report.status %></p>
                <p>report Project Id: <%= report.project.id %></p>
                <img src="<%= report.image %>" class="img-fluid mb-3" style="max-height: 400px; object-fit: contain;"/>

              </div>
            </div>
          <% end %>
        <%else%>
            <p>Yes No report created in this project</p>
        <%end%>
      <% elsif current_user.role == "developer" %>
        
        <% if !@reports.empty? %>
        <% @reports.each do |report| %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= report.title %></h5>
              <p class="card-text">Type: <%= report.type_Report %></p>
              <p class="card-text">Status: <%= report.status %></p>

              <%= link_to "Change Status", edit_report_path(report, project_id: @project.id), class: "btn btn-secondary mb-3"  %>

              <p>Created by <%= report.creator.email %> </p> 
            </div>
          </div>
        <% end %>
        <%else%>
            <p>No report assigned to you.</p>
        <%end%>
        <% elsif current_user.role == "manager" %>
        
        <% if !@reports.empty? %>
        <% @reports.each do |report| %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= report.title %></h5>
              <p class="card-text">Type: <%= report.type_Report %></p>
              <p class="card-text">Status: <%= report.status %></p>
              <p>Creator: <%= report.creator.email %> </p> 
              <p>Developer: <%= report.developer.email %> </p> 
            </div>
          </div>
        <% end %>
        <%else%>
            <p>No report in this Project.</p>
        <%end%>
      <% end %>
    </div>
  </div>
</div>
